# Content stuff
/content/backups/
/content/cache/
/content/uploads/
/content/upgrade/
/content/mu-plugins/*/
/content/plugins/*/

# Configurations
wp-config.php
.env

# WordPress core
/wp/

# Composer
/vendor/
composer.lock
